.todo-form {
  margin: 20px auto;
  padding: 5px;
  width: 680px;
}
.list {
  background-color: white;
  padding: 25px;
}
.remove-todo-button {
  padding: 0.2px;
  margin-left: 7px;
}

.todo-check > label {
  margin-right: 12px;
}
